<!DOCTYPE html>
<html>
    <head>
        <title>Anjos do bem</title>
    </head>
    <body>
        <section class="home">
            <header>
                <nav>
                    <ul>
                        <a href="#"><li class="first-li">Quem somos</li></a>
                        <a href="#"><li>Depoimentos</li></a>
                        <a href="#"><li>Casos de sucesso</li></a>
                        <a href="#"><li>Fale conosco</li></a>
                    </ul>
                </nav>
            </header>
            <div class="center-home">
                <h1>Anjos do bem</h1>
                <ul>
                    <li>
                        <a href="#"><%=image_tag("facebook.png", alt: "Icone facebook")%></a>
                    </li>
                    <li>
                        <a href="#"><%=image_tag("instagram.png", alt: "Icone instagram")%></a>
                    </li>
                    <li>
                        <a href="#"><%=image_tag("share.png", alt: "Icone compartilhar")%></a>
                    </li>
                </ul>
            </div>
            <p>Saiba mais sobre nós</p>
            <div class="arrow">
                <a href="#"><%=image_tag("arrow.png", alt: "Seta para baixo")%></a>
            </div>
        </section>
        <section class="about">
            <h2>Quem somos</h2>
            <p>Marzipan jelly marshmallow tart soufflé powder tootsie roll chupa chups pastry. Cotton candy macaroon fruitcake fruitcake macaroon jelly gummi bears. Lollipop lemon drops croissant lemon drops liquorice chocolate bar chocolate cake. Wafer icing tiramisu halvah jelly-o chocolate bar candy canes. Cupcake macaroon pastry. Sugar plum cake sesame snaps oat cake. Chupa chups dessert jelly-o toffee sweet roll candy macaroon jelly beans. Icing ice cream chupa chups. Chocolate bar lollipop danish dessert croissant brownie sweet roll muffin.</p>
            <%=image_tag("animal2.png", alt: "Imagem de um cachorro deitado", :class => "img-dog-1")%>
            <%=image_tag("animal3.png", alt: "Imagem de um gato deitado", :class => "img-cat-1")%>
        </section>    
    </body>
</html>