<p>
  <strong>Nome:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= l @animal.birth %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= human_sex(@animal.sex) %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @animal.description %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @animal.observations %>
</p>

<p>
  <strong>Adotado?</strong>
  <%= t @animal.adopted %>
</p>

<p>
  <strong>Dono:</strong>
  <%= @animal.owner %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @animal.phone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @animal.mobile_phone %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @animal.email %>
</p>

<div id='animal_photos'>
  <%= render @animal.animal_photos %>
</div>

<%= form_with(model: @animal_photo, id: 'new_animal_photo') do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.file_field :content %>
  </div>
  <%= form.hidden_field :animal_id, value: @animal.id %>
  <%= form.submit %>
<% end %>

<%= link_to 'Editar', edit_animal_path(@animal) %> |
<%= link_to 'Voltar', animals_path %>
