<h1>Membros da Equipe</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Foto</th>
      <th>Apelido</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teammates.each do |teammate| %>
      <tr>
        <td><%= teammate.name %></td>
        <td><%= teammate.photo %></td>
        <td><%= teammate.nickname %></td>
        <td><%= teammate.description %></td>
        <td><%= link_to 'Exibir', teammate %></td>
        <td><%= link_to 'Editar', edit_teammate_path(teammate) %></td>
        <td><%= link_to 'Excluir', teammate, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Membro da Equipe', new_teammate_path %>
