// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
##     ##    ###    ########  ####    ###    ########  ##       ######## 
##     ##   ## ##   ##     ##  ##    ## ##   ##     ## ##       ##       
##     ##  ##   ##  ##     ##  ##   ##   ##  ##     ## ##       ##       
##     ## ##     ## ########   ##  ##     ## ########  ##       ######   
 ##   ##  ######### ##   ##    ##  ######### ##     ## ##       ##       
  ## ##   ##     ## ##    ##   ##  ##     ## ##     ## ##       ##       
   ###    ##     ## ##     ## #### ##     ## ########  ######## ######## 
*/

@font-face {
    font-family: 'Titan-One';
    src: url('TitanOne-Regular.ttf');
}

@font-face {
    font-family: 'Carter-One';
    src: url('carter-one.regular.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Regular.ttf');
}

$white: #FFFEE8;
$gray: #F9AFBD;
$font-1: 'Titan-One';
$font-2: 'Carter-One';
$font-3: 'Comfortaa';


/*
##     ##  #######  ##     ## ########    
##     ## ##     ## ###   ### ##          
##     ## ##     ## #### #### ##          
######### ##     ## ## ### ## ######      
##     ## ##     ## ##     ## ##          
##     ## ##     ## ##     ## ##          
##     ##  #######  ##     ## ########    
*/

.home {
    background-image: image-url('animal.png');
    background-repeat: no-repeat;
    background-size: cover;
    // filter: brightness(50%); Modo para alterar filtro da imagem não foi encontrado até o momento
    height: 100vh;
    width: 100%;
}

@keyframes grow-button {
    from {
        padding: 3px 0px 15px;
    }
    to { 
        padding: 8px 0px 23px;
    }
}

header nav {
    width: 80%;
    margin: 0 auto;
    ul {
        text-align: right;
        li {
            display: inline-block;
            color: $white;
            font-family: $font-1;
            font-size: 18px;
            letter-spacing: 0.04em;
            padding: 1% 2% 1% 2%;
            border-left: 1px solid $white;
            position: relative;
            top: .5em;
        }
        .first-li {
            border-left: 0px;
        }
        a:hover{
            background-color: rgba(249, 175, 189, 0.82);
            padding: 8px 0px 23px;
            border-radius: 50px;
            animation-name: grow-button;
            animation-duration: .2s;
        }
    }
}

.home .center-home {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    width: 550px;
    margin: 0 auto;
    h1 {
        font-family: $font-1;
        font-size: 64px;
        color: $white;
        text-align: center;
    }
}

.center-home {
    ul {
        margin: 0 auto;
        li {
            display: inline-block;
            padding: 30px 52px;
        }
    }
}

.home {
    p {
        text-align: center;
        font-family: $font-2;
        font-size: 24px;
        color: $white;
        position: relative;
        top: 250px;
    }
}

.arrow {
    width: 50px;
    margin: 0 auto;
    position: relative;
    top: 300px;
}


/*
   ###    ########   #######  ##     ## ######## 
  ## ##   ##     ## ##     ## ##     ##    ##    
 ##   ##  ##     ## ##     ## ##     ##    ##    
##     ## ########  ##     ## ##     ##    ##    
######### ##     ## ##     ## ##     ##    ##    
##     ## ##     ## ##     ## ##     ##    ##    
##     ## ########   #######   #######     ##    
*/


.about h2 {
    font-family: $font-1;
    font-size: 26px;
    color: $gray;
    text-align: center;
    margin: 70px 0px 30px;
}

.about p {
    font-family: $font-3;
    width: 980px;
    text-align: center;
    margin: 0 auto;
}

.img-cat-1 {
    float: right;
    padding-right: 110px;
}

.img-dog-1 {
    padding-left: 110px;
    position: relative;
    top: 50px;
}

